<div class="wrapper">
    <img class="logInImg" src="../../../assets/images/login.png">
<div class="cards">
    <mat-card class="logInCard">
      <h1>Instagram web clone</h1>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form (submit)="signUp(signUpForm)" #signUpForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
          <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="fullName" ngModel type="text" placeholder="Full Name" #fullNameInput="ngModel" required text>
            <mat-error *ngIf="fullNameInput.invalid">Please enter a valid name.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput name="userName" ngModel type="text" placeholder="User Name" #userNameInput="ngModel" required text>
            <mat-error *ngIf="userNameInput.invalid">Please enter a valid userNameInput.</mat-error>
          </mat-form-field>
        <mat-form-field>
          <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
            required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button class="submitButton" color="accent" type="submit">sign Up</button>
      </form>
    </mat-card>
    <mat-card class="signUpCard">Have a account?<a routerLink="/login">Log In</a></mat-card>
  </div>
</div>