h1{
    font-style: oblique;
  }
  .cards{
    width: 250px;
    float:left
  }
  .logInCard{
     width: 250px;
      height: 350px;
      float:left
  }

  .signUpCard{
   
    width: 250px;
    height: 50px;
    float:left;
    clear: left;
  }
  mat-form-field {
    width: 70%;
    left: 30px;
    top: 30px;
  }
  .logInImg{
    padding-left: 50px;
    padding-right: 200px;
        left: 5%;
        width: 300px;
        height: 500px;
        float:left
      }

  .wrapper{
    position: absolute;
    left: 10%;
    top: 10%;
    height: 500px;
    width: 100%; 
  }
  .submitButton{
    width: 70% !important;
    left: 30px !important;
    top: 50px !important;
  }

  /* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}
