.example-spacer1 {
    flex: 3 auto;
  }
  .header {
    min-height: 30px !important;
    height: 30px !important;
  }
  #menu {
    position: fixed;
    display: none;
    width: fit-content;
    height: fit-content;
    background-color: none;
    z-index: 5;
    cursor: pointer;
  }

  ::ng-deep .menu button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 0px !important;
    cursor: pointer;
    display: inline-block;
    outline: none;
    margin: 0px !important;
    border-width: solid;
  }

  
  .password-btn-group button {
    color: black;
    height: fit-content;
    cursor: pointer;
    width: 100%; 
    display: block;
  }
  
  .password-btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .iconText{
    height: 30px !important;
  }
  .icon{
    float: left;
  }
  .text{
    margin-top: 3px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 5px;
    float: left;
  }
  
  ::ngdeep mat-card-image{
    height: 50px !important;
    border:2px black solid;
  }
  
  .profileImg {
    float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.allprofileImg {
  float: left;
height: 30px;
width: 30px;
border-radius: 50%;
}
.name{
  float: left;
  margin-left: 10%;
  font-weight: bolder;
  font-family: cursive;
}
.Switch{
 margin-left: 5%;
  float: left;
}
.myUser{
  float: left;
}
.otherUser{
  float: left;
  clear: left;
}
.add{
  margin-left: 5% !important;
  float: left;
}

.post{
  float: left;
  width: 50%;
}
.userList{
  float: left;
  top:10%;
  left: 70%;
  position: fixed;
  width: 300px;
}
.example-card {
  width: 600px;
  margin-left: 5%;
  margin-top: 40px;
  height: fit-content;
  float: left;
  clear: left;
  border:2px black solid;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
  

.suggestion{
  color: gray;
  text-decoration: underline;
}
.like{
  display: flex;
}
.likeButton{  
  float: left;
  color: red;
}
.likeButton1{
  float: left;
}
.likeCount{
  margin-top: 10px;
  float: left;
}
.comment{
  /* border: 2px black solid; */
  width: 500px;
  float: left;
}
commentButton{
  float: left;
}

.commentCount{
  margin-left: 20px;
  margin-top: 12px;
}

.CommentsAll{
  color: blue;
}