<!-- <p>post-dialog works!</p> -->
<input #fileInput type="file" hidden (change)="onSelectFile($event)">
<button mat-button class="changeImg" (click)="fileInput.click()">add Image</button>
<img id="postImg" [src]="postImg" alt="">
<form (submit)="postUp(postUpForm)" #postUpForm="ngForm">
    <mat-form-field>
        <input matInput name="caption" ngModel type="text" placeholder="add caption" #captionInput="ngModel">
        <mat-error *ngIf="captionInput.invalid">Please enter a valid caption.</mat-error>
    </mat-form-field>
    <button color="primary" mat-button type="submit" [mat-dialog-close]="true">
        POST</button>
    <span class="example-spacer1"></span>
    <button color="primary" mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</form>
